.profile {
  background: black;
  height: 200vh;
  padding: 40px 0;
  &__emoji-block{
    transition: 1s!important;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__posts{
    background: #222222;
    border-radius: 20px;
    border: 1px solid #adb5bd;
    background: rgba(207, 217, 233, 0.32);
    margin-top: 40px;
    padding: 15px;
    &-top{
      display: flex;
      column-gap: 40px;
      padding-bottom: 20px;
      border-bottom: 1px solid black;
      margin-bottom: 40px;
    }
    &-row{
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__addPost{
    position: relative;
    background: #222222;
    border-radius: 20px;
    border: 1px solid #adb5bd;
    background: rgba(207, 217, 233, 0.32);
    min-height: 150px;
    margin-top: 40px;
    padding: 15px;
    &-top{
      display: flex;
      justify-content: space-between;

    }
    &-field{
      background: transparent;
      width: 50%;
      resize: none;

     height: 150px;

    }
  }
  &__info {
    background: #222222;
    border-radius: 20px;
    border: 1px solid #adb5bd;
    background: rgba(207, 217, 233, 0.32);;
    &-top {
      border-radius: 20px 20px 0 0;
      height: 200px;
      position: relative;
    }
    &-cover {
      display: flex;
      align-items: center;
      column-gap: 10px;
      background: #222222;
      padding: 8px;
      border-radius: 8px;
      border: none;
      position: absolute;
      top: 30px;
      right: 30px;
    }
    &-bottom {
      background: #222222;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 20px 15px 60px 200px;
      position: relative;
    }
    &-avatar {
      position: absolute;
      top: -50%;
      left: 30px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #222222;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    &-name {
      font-size: 21px;
    }
    &-about {
      color: #0050B3;
      display: flex;
      align-items: start;
      column-gap: 5px;
      span {
        color: #0050B3;
      }
      &:hover {
        column-gap: 10px;
      }
    }
    &-change {
      padding: 7px;
      background: #424242;
      border-radius: 8px;
      border: none;
    }

  }
}